@{
    ViewBag.Title = "Blog Kullanıcı Listesi";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
@using MVC_Ajax_Bootstrap.Models;
@model List<Kullanici>

<h2>Blog Kullanıcı Listesi</h2>
@foreach (var kullanici in Model)
{
    <div class="card float-left mr-1 mb-3" style="width: 14rem;">
        <img style="height:150px; " src="..\\@kullanici.KullaniciFotoUrl" class="card-img-top" alt="@kullanici.KullaniciAdSoyad">
        <div class="card-body">
            <h5 class="card-title">@kullanici.KullaniciAdSoyad</h5>
        </div>
        <ul class="list-group list-group-flush kullaniciProfil">
            <li class="list-group-item">Kullanıcı E-Posta Adresi : @kullanici.KullaniciEposta</li>
            <li class="list-group-item">Kullanıcı Doğum Tarihi : @kullanici.KullaniciDogumTarih</li>
            <li class="list-group-item">Kullanıcı Kayıt Tarihi : @kullanici.KullaniciKayitTarih</li>
            <li class="list-group-item">Kullanıcı Yetki Seviyesi : @kullanici.KullaniciYetki</li>
        </ul>
        <a href="/Blog/Edit?KullaniciID=@kullanici.KullaniciID" type="button" class="btn btn-success">DÜZENLE</a><br />
        <button type="button" class="btn btn-danger silmebutonu" data-kullaniciid="@kullanici.KullaniciID" data-kullaniciadsoyad="@kullanici.KullaniciAdSoyad" data-toggle="modal" data-target="#exampleModal">
            SİL
        </button>
    </div>
}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Silme Onayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="silinecekelemanadi"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-danger silmebutonuonayli">SİLME ONAYLA</button>
            </div>
        </div>
    </div>
</div>


@section sidebar{
    <section style="background-color:#ffd800; border-radius:4px; padding:5px;">
        <h4>@ViewBag.Oturum.KullaniciAdSoyad</h4>
        <br />
        <img src="..\@ViewBag.Oturum.KullaniciFotoUrl" style="width:100px;" /><br />
        <br />
        <a class="btn btn-danger" href="/Kullanici/Logout">Oturumu Kapat</a>
    </section>
}

@section javascript
{
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".silmebutonu").click(function () {
                var silinecekid = $(this).data("kullaniciid");
                $(".silmebutonuonayli").attr("data-kullaniciid", silinecekid);
                var silinecekad = $(this).data("kullaniciadsoyad");
                $("p.silinecekelemanadi").html(silinecekad + "Adlı Kullanıcı Silinecek ?");
            });

            $(".silmebutonuonayli").click(function () {
                var silinecekid = $(this).data("kullaniciid");
                $.ajax({
                    url: "/Blog/KullaniciSil",
                    type: "POST",
                    data: { KullaniciID: silinecekid },
                    success: function (silindimi) {
                        if (silindimi) {
                            //alert("Silme İşlemi Başarılı");
                            window.location.replace("/Blog/Index")
                        } else {
                            alert("Silme İşlemi Başarısız.!");
                        }
                    },
                    error: function () {
                        alert("Ajax ile Veri Gönderilemedi.");
                    }

                })
            });
        });</script>
}
